version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    image: 'laravel-bu'
    ports:
      - 8000:80
    volumes:
      - ./:/var/www/html

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: 'laravel_bu_db'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_ROOT_PASSWORD: ""

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
